<h3>Fuse/Shatter is a utility for making CSS sprites.</h3>

<br/><br/>
<div class="row">
  <div class="span4 subhead">
    <div class="number">1</div>
    <h2>Upload images</h2>
  </div>
  <div class="span4 subhead">
    <div class="number">2</div>
    <h2>Specify an ID and padding for each image</h2>
  </div>
  <div class="span4 subhead">
    <div class="number">3</div>
    <h2>Generate sprite</h2>
  </div>
</div>


